<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Chordpro Editor</title>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-responsive.min.css"/>
  <script src="controllers/app.js"></script>
</head>
<body ng-controller="controller">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Chordpro Editor</a>
  </div>
  <div class="panel panel-default row">
    <a>
    <div class="col-xs-5">
      <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modelEditText">Edit</button>

      <!-- Modal -->
      <div id="modelEditText" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Song</h4>
            </div>
            <div ng-repeat="item in data.songs  | filter: { _id: 1 } " class="modal-body">
              <textarea class="form-control" rows="20" cols="80" ng-model="item.text"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button ng-click="updateSongText()" type="button" class="btn btn-default" data-dismiss="modal">Update</button>
            </div>
          </div>
        </div>
      </div>
      <div class="well"
        ng-repeat="item in data.songs  | filter: { _id: 1 } ">
          <div ng-repeat="line in item.input">{{line}}</div>
          <table>
            <tr height="365"><td></td>
            </tr>
          </table>
      </div>
      </table>
      <div>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="well"
        ng-repeat="item in data.songs  | filter: { _id: 1 } ">
        <table width="100%">
          <tr>
            <td>
              <h3>
                <strong><a href="#">{{item.title}}</a></strong>
              </h3>
            </td>
          </tr>
          <tr>
            <td>
              <span>{{item.artist}}</span>
            </td>
          </tr>
          <tr height="20"/>
          <tr>
            <td>
              <div id="chordchart">
                <table>
                  <tr>
                    <td ng-repeat="chorddef in item.chorddefs">
                        <div id="{{chorddef.name}}" style="height: 50%" >
                        <table>
                          <tr>
                            <td align="center">
                              {{chorddef.name}}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#"
                                 data-toggle="modal"
                                 data-target="#modelEditChord{{chorddef.name}}">
                              <svg width="55" height="40">
                                <rect x="0" y="0" width="55" height="40" style="fill:rgb(0,0,0);stroke-width:2;stroke:rgb(255,0,0)" stroke-opacity="0.0" fill-opacity="0.0"/>
                                <line x1="7" y1="6" x2="45" y2="6" style="stroke:rgb(0,0,0);stroke-width:3" />
                                <line x1="7" y1="15" x2="45" y2="15" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="22" x2="45" y2="22" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="30" x2="45" y2="30" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="37" x2="45" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="5" x2="7" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="15" y1="5" x2="15" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="22" y1="5" x2="22" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="30" y1="5" x2="30" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="37" y1="5" x2="37" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="45" y1="5" x2="45" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <circle ng-repeat="coordinate in chorddef.positions" cx="{{coordinate.cx}}" cy="{{coordinate.cy}}" r="2" stroke="black" stroke-width="1.5" fill="black"/>
                              </svg>
                            </a>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div id="modelEditChord{{chorddef.name}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Edit Chord - {{chorddef.name}}</h4>
                            </div>
                            <div class="modal-body">
                              <svg width="220" height="160">
                                <rect x="0" y="0" width="220" height="160" style="fill:rgb(0,0,0);stroke-width:8;stroke:rgb(255,0,0)" stroke-opacity="0.0" fill-opacity="0.0"/>
                                <line x1="28" y1="24" x2="180" y2="24" style="stroke:rgb(0,0,0);stroke-width:12" />
                                <line x1="28" y1="60" x2="180" y2="60" style="stroke:rgb(0,0,0);stroke-width:2" />
                                <line x1="28" y1="88" x2="180" y2="88" style="stroke:rgb(0,0,0);stroke-width:2" />
                                <line x1="28" y1="120" x2="180" y2="120" style="stroke:rgb(0,0,0);stroke-width:2" />
                                <line x1="28" y1="148" x2="180" y2="148" style="stroke:rgb(0,0,0);stroke-width:2" />
                                <line x1="28" y1="20" x2="28" y2="148" style="stroke:rgb(0,0,0);stroke-width:2" />
                                <line x1="60" y1="20" x2="60" y2="148" style="stroke:rgb(0,0,0);stroke-width:1" />
                                <line x1="88" y1="20" x2="88" y2="148" style="stroke:rgb(0,0,0);stroke-width:1" />
                                <line x1="120" y1="20" x2="120" y2="148" style="stroke:rgb(0,0,0);stroke-width:1" />
                                <line x1="148" y1="20" x2="148" y2="148" style="stroke:rgb(0,0,0);stroke-width:1" />
                                <line x1="180" y1="20" x2="180" y2="148" style="stroke:rgb(0,0,0);stroke-width:2" />
                                <circle ng-repeat="coordinate in chorddef.positions" cx="{{coordinate.cx*4}}" cy="{{coordinate.cy*4}}" r="8" stroke="black" stroke-width="6" fill="black"/>
                              </svg>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr height="20"/>
        </table>
        <svg width="500" height="400">
        <text x = "10" y = "45" font-size = "20" font-family="Courier">
          <tspan ng-repeat="line in item.lyrics" x="5" y="{{($index+1)*40}}">{{line}}</tspan>
        </text>
          <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
          <tspan ng-repeat="chord in item.chords" x="{{chord.col*12+5}}" y="{{(chord.line+1)*40-20}}">{{chord.name}}</tspan>
          </text>
        </svg>
      <div id="modelEditSongBody" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Song Body</h4>
              </div>
              <div class="modal-body">
                <svg width="500" height="400">
                <text x = "10" y = "45" font-size = "20" font-family="Courier">
                  <tspan ng-repeat="line in item.lyrics" x="5" y="{{($index+1)*40}}">{{line}}</tspan>
                </text>
                  <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
                  <tspan ng-repeat="chord in item.chords" x="{{chord.col*12+5}}" y="{{(chord.line+1)*40-20}}">{{chord.name}}</tspan>
                  </text>
                </svg>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
