<div id="song">
  <div ng-init="initSection()" class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Chord Sequence - Edit Verse</a>
  </div>
    <div>
      <div>
        <table width="100%">
          <tr>
            <td align="center">
              <h3>
                <strong>{{section.title}}</strong>
              </h3>
            </td>
          </tr>
          <tr height="10"/>
          <tr>
            <td align="center">
              <button type="button" ng-click="moveChordLeft()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
              <button type="button" ng-click="moveChordRight()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </td>
          </tr>
          <tr height="10"/>
        </table>
        <table width="100%">
          <tr>
            </td>
            <td align="center">
              <svg width="800" height="{{section.lyrics.length*40+50}}">
                <text x = "10" y = "45" font-size = "20" font-family="Courier">
                  <tspan ng-repeat="line in section.lyrics track by $index" x="20" y="{{($index+1)*40}}">{{line}}</tspan>
                </text>
                <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
                  <tspan ng-repeat="chord in section.chords" x="{{chord.col*12+20}}" y="{{(chord.line+1)*40-20}}">{{chord.name}}</tspan>
                </text>
                <rect id="from" x="{{from.col*12+20}}" y="{{from.line*40+2}}" width="24" height="24" style="fill:rgb(0,0,255);stroke-width:2;stroke:rgb(0,0,255)" stroke-opacity="1.0" fill-opacity="0.1"/>
                <rect ng-repeat="chord in section.chords track by $index" id="c-{{$index}}" x="{{chord.col*12+8}}" y="{{chord.line*40-10}}" width="48" height="48" style="fill:rgb(0,0,0);stroke-width:{{$index}};stroke:rgb(0,0,0)" stroke-opacity="0.0" fill-opacity="0.0" onclick="selectSectionChord(this)"/>
              </svg>
            </td>
          </tr>
        </table>
    </div>
  </div>
  <div>
    <form>
      <div class="modal-footer">
        <a class="btn btn-default" onclick="cancelUpdateSection()">Cancel</a>
        <a class="btn btn-default" onclick="updateSection()">Update</a>
      </div>
    </form>
  </div>
</div>
