<div id="song">
  <div ng-init="init()" class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Chord Sequence - Chordpro Editor</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a onclick="copyChords()"><span class="glyphicon glyphicon-duplicate"></span></a></li>
        <li><a onclick="editChordpro()"><span class="glyphicon glyphicon-pencil"></span></a></li>
      </ul>
    </div>
  </div>

  <div>
      <div>
        <table width="100%">
          <tr>
            <td align="center">
              <h3>
                <strong>{{song.title}}</strong>
              </h3>
            </td>
          </tr>
          <tr>
            <td align="center">
              <span>{{song.artist}}</span>
            </td>
          </tr>
          <tr height="20"/>
          <tr>
            <td align="center">
              <div id="chordchart">
                <table>
                  <tr>
                    <td ng-repeat="chorddef in song.chorddefs">
                        <div id="{{$index}}" onclick="selectChord(this)">
                        <table>
                          <tr>
                            <td align="center">
                              {{chorddef.name}}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <svg width="55" height="40">
                                <rect x="0" y="0" width="55" height="40" style="fill:rgb(0,0,0);stroke-width:2;stroke:rgb(255,0,0)" stroke-opacity="0.0" fill-opacity="0.0"/>
                                <line x1="7" y1="6" x2="45" y2="6" style="stroke:rgb(0,0,0);stroke-width:3" />
                                <line x1="7" y1="15" x2="45" y2="15" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="22" x2="45" y2="22" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="30" x2="45" y2="30" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="37" x2="45" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="5" x2="7" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="15" y1="5" x2="15" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="22" y1="5" x2="22" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="30" y1="5" x2="30" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="37" y1="5" x2="37" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="45" y1="5" x2="45" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <!-- x's -->
                                <line ng-repeat="coordinate in chorddef.positions | filter:search | filter:filterMutedStrings" x1="{{coordinate.cx-2}}" y1="0" x2="{{coordinate.cx+3}}" y2="5" stroke="black" stroke-width="1"/>
                                <line ng-repeat="coordinate in chorddef.positions | filter:search | filter:filterMutedStrings" x1="{{coordinate.cx+3}}" y1="0" x2="{{coordinate.cx-2}}" y2="5" stroke="black" stroke-width="1"/>
                                <!-- selected frets -->
                                <circle ng-repeat="coordinate in chorddef.positions | filter:search | filter:filterExcludeMutedStrings" cx="{{coordinate.cx}}" cy="{{coordinate.cy}}" r="2" stroke="black" stroke-width="1.5" fill="black" stroke-opacity="{{coordinate.opacity}}" fill-opacity="{{coordinate.opacity}}"/>
                                <text ng-if="chorddef.basefret != 0" x = "50" y = "14" font-size = "10" font-family="Courier" font-weight="bold">{{chorddef.basefret}}</text>
                              </svg>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr height="20"/>
        </table>
        <table width="100%">
          <tr>
            <td align="center">
              <svg width="900" height="{{song.lyrics.length*40+50}}">
                <text x = "10" y = "45" font-size = "20" font-family="Courier">
                  <tspan ng-repeat="line in song.lyrics track by $index" x="100" y="{{($index+1)*40}}">{{line}}</tspan>
                </text>
                <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
                  <tspan ng-repeat="chord in song.chords" x="{{chord.col*12+100}}" y="{{(chord.line+1)*40-20}}">{{chord.name}}</tspan>
                </text>
                <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
                  <tspan ng-repeat="section in song.sections track by $index" x="5" y="{{(section.start+1)*40}}" ">{{section.text}}</tspan>
                </text>
                <rect ng-repeat="section in song.sections track by $index" id="s-{{$index}}" x="0" y="{{(section.start+1)*40}}" width="900" height="{{(section.end+1)*40}}" style="fill:rgb(0,0,0);stroke-width:{{$index}};stroke:rgb(0,0,0)" stroke-opacity="0.0" fill-opacity="0.0" onclick="selectSection(this)"/>
              </svg>
            </td>
          </tr>
        </table>
    </div>
</div>
</div>
