<div id="song">
  <div ng-init="init()" class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Chord Sequence Chordpro Editor</a>
  </div>
  <div class="panel panel-default row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modelEditText"><span class="glyphicon glyphicon-pencil"></span></button>

      <!-- Modal -->
      <div id="modelEditText" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Song</h4>
              </div>
              <div class="modal-body">
                <textarea class="form-control" rows="20" cols="80" ng-model="song.text"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="updateSong()" type="button" class="btn btn-default" data-dismiss="modal">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="well">
        <table width="100%">
          <tr>
            <td>
              <h3>
                <strong>{{song.title}}</strong>
              </h3>
            </td>
          </tr>
          <tr>
            <td>
              <span>{{song.artist}}</span>
            </td>
          </tr>
          <tr height="20"/>
          <tr>
            <td>
              <div id="chordchart">
                <table>
                  <tr>
                    <td ng-repeat="chorddef in song.chorddefs">
                        <div id="{{$index}}" onclick="selectChord(this)">
                        <table>
                          <tr>
                            <td align="center">
                              {{chorddef.name}}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <svg width="55" height="40">
                                <rect x="0" y="0" width="55" height="40" style="fill:rgb(0,0,0);stroke-width:2;stroke:rgb(255,0,0)" stroke-opacity="0.0" fill-opacity="0.0"/>
                                <line x1="7" y1="6" x2="45" y2="6" style="stroke:rgb(0,0,0);stroke-width:3" />
                                <line x1="7" y1="15" x2="45" y2="15" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="22" x2="45" y2="22" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="30" x2="45" y2="30" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="37" x2="45" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="7" y1="5" x2="7" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <line x1="15" y1="5" x2="15" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="22" y1="5" x2="22" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="30" y1="5" x2="30" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="37" y1="5" x2="37" y2="37" style="stroke:rgb(0,0,0);stroke-width:.25" />
                                <line x1="45" y1="5" x2="45" y2="37" style="stroke:rgb(0,0,0);stroke-width:.5" />
                                <!-- x's -->
                                <line ng-repeat="coordinate in chorddef.positions | filter:search | filter:filterMutedStrings" x1="{{coordinate.cx-2}}" y1="0" x2="{{coordinate.cx+3}}" y2="5" stroke="black" stroke-width="1"/>
                                <line ng-repeat="coordinate in chorddef.positions | filter:search | filter:filterMutedStrings" x1="{{coordinate.cx+3}}" y1="0" x2="{{coordinate.cx-2}}" y2="5" stroke="black" stroke-width="1"/>
                                <!-- selected frets -->
                                <circle ng-repeat="coordinate in chorddef.positions | filter:search | filter:filterExcludeMutedStrings" cx="{{coordinate.cx}}" cy="{{coordinate.cy}}" r="2" stroke="black" stroke-width="1.5" fill="black" stroke-opacity="{{coordinate.opacity}}" fill-opacity="{{coordinate.opacity}}"/>
                                <text ng-if="chorddef.basefret != 0" x = "50" y = "14" font-size = "10" font-family="Courier" font-weight="bold">{{chorddef.basefret}}</text>
                              </svg>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr height="20"/>
        </table>
        <svg width="900" height="600">
        <text x = "10" y = "45" font-size = "20" font-family="Courier">
          <tspan ng-repeat="line in song.lyrics" x="5" y="{{($index+1)*40}}">{{line}}</tspan>
        </text>
          <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
          <tspan ng-repeat="chord in song.chords" x="{{chord.col*12+5}}" y="{{(chord.line+1)*40-20}}">{{chord.name}}</tspan>
          </text>
        </svg>
      <div id="modelEditSongBody" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Song Body</h4>
              </div>
              <div class="modal-body">
                <svg width="500" height="400">
                <text x = "10" y = "45" font-size = "20" font-family="Courier">
                  <tspan ng-repeat="line in song.lyrics" x="5" y="{{($index+1)*40}}">{{line}}</tspan>
                </text>
                  <text x = "10" y = "45" font-size = "20" font-family="Courier" fill="blue" font-weight="bold">
                  <tspan ng-repeat="chord in song.chords" x="{{chord.col*12+5}}" y="{{(chord.line+1)*40-20}}">{{chord.name}}</tspan>
                  </text>
                </svg>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
